services:

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: harshpatil27/backend
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  frontend:
    image: harshpatil27/frontend
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
